#searchResultsSmallerText {
  font-family: lato;
  font-size: 12px;
  margin-top: 215px;
  margin-left: 100px;
  color: #e82e74;
}

#forFlexSake {
  display: flex;
}

#searchResults > #forFlexSake > i {
  color: #e82e74;
  font-size: 36px;
  margin-top: 15px;
  margin-left: 100px;
  font-weight: 700;
}

#searchResultsBiggerText {
  font-size: 36px;
  margin-top: 12px;
  margin-left: 15px;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 40px;
}

#searchResultsBox {
  border: 1px solid #662d91;
  width: 86.5%;
  height: 39px;
  margin: auto;
  background-color: #662d91;
}

#searchResultsBox > span > p {
  color: white;
  margin-left: 20px;
  font-weight: 700;
  margin-top: 10px;
}

#searchResultsBigDiv {
  width: 86.5%;
  height: fit-content;
  margin: auto;
  margin-bottom: 20%;
}

#refineByBrandsText,
#refineBySpecialsText,
#showByCategoryText,
#showBySpecialsText {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}

#refineByBrandsBox,
#refineBySpecialsBox,
#showByCategoryBox,
#showBySpecialsBox {
  width: 251px;
  height: fit-content;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 5px solid#F1F1F1;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 15px;
  padding-bottom: 15px;
}

#refineByBrandsBox > form,
#refineBySpecialsBox > form,
#showByCategoryBox > form,
#showBySpecialsText > form {
  margin-top: 10px;
  margin-left: 1px;
}

#searchResultsLeftContainer {
  border-right: 1px solid #dfdfdf;
  width: 265px;
  height: 500px;
}

.productListRow > span {
  display: inline-flex;
  margin-left: 100px;
}

.productListRow {
  border-bottom: 1px solid #dfdfdf;
  margin-left: 10px;
  width: 1000px;
  padding-top: 40px;
}

.productListRow > span > img {
  width: 100px;
  height: 100px;
  margin-left: 150px;
}

.productListRowText {
  font-weight: 700;
  width: 200px;
}

.original {
  margin-left: 10px;
}

.discount {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  background-image: linear-gradient(blue, red);
  color: white;
  font-weight: 700;
  padding-top: 4px;
  margin-top: 15px;
}

.discount > div {
  margin-left: 10px;
  margin-top: 5px;
}

#priceSquare {
  width: 160px;
  height: 160px;
  background-color: #c7007d;
  float: right;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 7%;
}

#main_item_list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 30px;
}

.discountNoriginal {
  margin-top: -22px;
}

#searchResultsRightContainer {
  height: 160px;
  width: 902px;
  cursor: pointer;
}
